* {
    margin: 0;
    padding: 0;
}

.sideNavClose {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #111111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sideNavOpen {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #111111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.overlayOpen {
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.overlayClose {
    display: none;
}

.titleText {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.desText {
    font-size: 16px;
}

.card {
    width: 100%;
    border: none !important;
    border-radius: 0% !important;
    box-shadow: 0 0 6px 0 rgba(240, 240, 240, 1);
}

.card:hover {
    border: none !important;
    box-shadow: 0 0 6px 0 rgba(240, 240, 240, 1);
}

/*wentWrong component*/
.wentWrongImage {
    height: 200px;
    width: 30%;
    margin-top: 1rem;
}

.wentWrong h3{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
}

.wentWrong h3 span{
    color: red;
    font-family: 'Jost', sans-serif;
}


